buildSrc/build
buildSrc/libs
.gradle/
build/
.idea/
!.idea/codeStyles/codeStyleConfig.xml
.DS_Store
offline-repo.zip
*.log
out/
*.iml
.project
.settings
.classpath
.vscode
bin/
src/test/resources/job-scheduler
lombok.config
