
jobs:
  windows-build:
    strategy:
      matrix:
        java: [ 11, 17 ]

    # Job name
    name: Build and Test
    # This job runs on Windows
    runs-on: windows-latest

    steps:
      # This step uses the checkout Github action: https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v2
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Build and Test
        run: |
          ./gradlew build -Dtest.logs=true
      - name: Publish to Maven Local
        run: |
          ./gradlew publishToMavenLocal

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}