name: Build and Test Anomaly detection
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  Build-ad:
    strategy:
      matrix:
        java: [11,17]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    name: Build and Test Anomaly detection Plugin
    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      # anomaly-detection
      - name: Checkout AD
        uses: actions/checkout@v2

      - name: Assemble anomaly-detection
        run: |
          ./gradlew assemble
      - name: Build and Run Tests
        run: |
          ./gradlew build -Dtest.logs=true
      - name: Publish to Maven Local
        run: |
          ./gradlew publishToMavenLocal
      - name: Multi Nodes Integration Testing
        run: |
          ./gradlew integTest -PnumNodes=3
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1
        with:
          file: ./build/reports/jacoco/test/jacocoTestReport.xml
          flags: plugin
