name: Build and Test Anomaly detection
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:

  Build-ad:
    strategy:
      matrix:
        java: [14]

    name: Build and Test Anomaly detection Plugin
    runs-on: ubuntu-latest

    steps:
      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      # anomaly-detection
      - name: Checkout AD
        uses: actions/checkout@v2

      # dependencies: OpenSearch
      - name: Checkout OpenSearch
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/OpenSearch'
          path: OpenSearch
          ref: '1.x'
      - name: Build OpenSearch
        working-directory: ./OpenSearch
        run: ./gradlew publishToMavenLocal -Dbuild.snapshot=false -Dopensearch.version=1.0.0-rc1

      # dependencies: common-utils
      - name: Checkout common-utils
        uses: actions/checkout@v2
        with:
          ref: 'main' # TODO: update to the right branch name once it's ready. e.g. 1.x
          repository: 'opensearch-project/common-utils'
          path: common-utils
      - name: Build common-utils
        working-directory: ./common-utils
        run: ./gradlew publishToMavenLocal -Dopensearch.version=1.0.0-rc1 -Dbuild.snapshot=false

      # dependencies: job-scheduler
      - name: Checkout job-scheduler
        uses: actions/checkout@v2
        with:
          ref: 'main' # TODO: update to the right branch name once it's ready. e.g. 1.x
          repository: 'opensearch-project/job-scheduler'
          path: job-scheduler

      - name: Build job-scheduler
        working-directory: ./job-scheduler
        run: ./gradlew publishToMavenLocal -Dopensearch.version=1.0.0-rc1 -Dbuild.snapshot=false
      - name: Assemble job-scheduler
        working-directory: ./job-scheduler
        run: |
          ./gradlew assemble -Dopensearch.version=1.0.0-rc1 -Dbuild.snapshot=false
          echo "Creating ../src/test/resources/job-scheduler ..."
          mkdir -p ../src/test/resources/job-scheduler
          pwd
          echo "Copying ./build/distributions/*.zip to ../src/test/resources/job-scheduler ..."
          ls ./build/distributions/
          cp ./build/distributions/*.zip ../src/test/resources/job-scheduler
          echo "Copied ./build/distributions/*.zip to ../src/test/resources/job-scheduler ..."
          ls ../src/test/resources/job-scheduler

      - name: Build and Run Tests
        run: |
          ./gradlew build -Dopensearch.version=1.0.0-rc1

      - name: Publish to Maven Local
        run: |
          ./gradlew publishToMavenLocal -Dopensearch.version=1.0.0-rc1

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1
        with:
          file: ./build/reports/jacoco/test/jacocoTestReport.xml
          flags: plugin
