name: Security test workflow
# This workflow is triggered on pull requests or pushes to any branch
on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"

jobs:
  Get-CI-Image-Tag:
    uses: opensearch-project/opensearch-build/.github/workflows/get-ci-image-tag.yml@main
    with:
      product: opensearch

  security-test:
    needs: Get-CI-Image-Tag
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-version-linux }}
      options: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-start-options }}

    strategy:
      matrix:
        # empty string = disabled, flag = enabled
        resource_sharing_flag: ["", "-Dresource_sharing.enabled=true"]

    steps:
      - name: Run start commands
        run: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-start-command }}

      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25

      - name: Checkout Branch
        uses: actions/checkout@v4

      - name: Run integration tests
        run: |
          chown -R 1000:1000 `pwd`
          su `id -un 1000` -c "./gradlew integTest \
            -Dsecurity=true \
            -Dhttps=true \
            ${{ matrix.resource_sharing_flag }} \
            --tests '*IT'"

      - name: Upload failed logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ matrix.resource_sharing_flag != '' && 'resource-sharing' || 'no-resource-sharing' }}
          path: build/testclusters/integTest-*/logs/*
